body {
  text-align: center;
  background-color: #dcdcc6;
}

ul {
  margin: 0 auto;
  padding: 0;
  width: 750px;
  height: 300px;
  border: 1px solid #000;
  border-radius: 15px;
}

/*li {
  list-style-type: none;
  float: left;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 75px;
  height: 300px;
}*/

.light {
  background-color:green;
}

/*How to arrange the keys properly?*/
.white {
  list-style-type: none;
  float: left;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 75px;
  height: 300px;
  border-radius: 15px;
}

.black {
  list-style-type: none;
  float: left;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 45px;
  height: 200px;
  border-radius: 10px;
}

.selected {
  background: yellow;
}
